<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.ssm.dao.HouseUserMapper">
	<select id="getUser" resultType="HouseUser">
		select id,username,password,realname,telephone,isadmin
		from house_user where username=#{username}
    </select>
</mapper>	